$icon-font-path: '../fonts/'; // bower:scss
 @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 // endbower
// @import "footer.scss";

html, body {
  height: 100%;
}

.active,
.carousel,
.item {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  padding-top:0;
}
footer {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: white;
  padding-top:0;
  background-color: #000000;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}

h2, h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin:5px,0,0,0;
}
a, p {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-family: 'Allura', cursive;
  text-align: center;
  font-size: 4em;
  text-transform: none;
}

a.navbar-brand.logo-name{
    font-family: 'Allura', cursive;
    font-size: 4em;
    font-size: bold;
    letter-spacing: 1px;
}


.img-responsive {
  width: 700px;
  max-height: 300px;
}
.img-responsive.coupon {
  width: 700px;
  max-height: 450px;
}

body {
  padding-top: 0;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


ul {
  list-style-type: square;
}

.product-types {
  font-style: normal;
  text-align: center;
}
.navbar-text {
  padding-left: 15px;
}

.shop-contacts {
  text-align: center;
}

.maps {
  min-width: 550px;
  min-height: 220px;
  border:  2 px black;
}

#mc_embed_signup{
  background-image: url("images/forsubscribe.jpg");
  background-repeat: no-repeat;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font:14px;

}

#mc_embed_signup #mce-success-response {
  color: black;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 1px solid black;


}
.mce_inline_error {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}


/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.page-header {
  margin-top: 60px;
}
