$icon-font-path: '../fonts/'; // bower:scss
 @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 // endbower
// @import "footer.scss";

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  padding-top:0;
}

.active,
.carousel,
.item {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


h1 {
  font-family: 'Allura', cursive;
  text-align: center;
  font-size: 3.5em;
  text-transform: none;
}

h2, h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
  margin:5px 0 0 0;
}
a, p {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 400;
}



a.navbar-brand.logo-name{
    font-family: 'Allura', cursive;
    font-size: 4em;
    font-size: bold;
    letter-spacing: 1px;
}

footer {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: white;
  padding-top:0;
  background-color: #000000;
  width: 100%;
  min-height: 80px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
}

footer h2 {
  margin: 15px 0;
  font-size: 1.4em;
  margin:5px;
  text-align: center;
  }

footer p {
    margin: 15px 0;
    font-size: 1.1em;
    }

.all-footer-text {
  margin-top: 20px;
}
.to-contact{
  text-align: left;
  }
.footer-contact {
  text-align: right;
}

.carousel-caption.first {
  margin-top: 200px;
  margin-right: 100px;

}

.img-responsive {
  width: 700px;
  height: 350px;

}
.img-responsive.coupon {
  width: 700px;
  max-height: 450px;
}

.navbar {
  background-color: black;
}

ul {
  list-style-type: square;
}
.page-header {
  margin-top: 60px;
}

.product-types ul li {
  font-style: normal;
  text-align: center;

}
.product-types h2 {
  margin-top: 30px;
}


.product-types p {
  margin-top:30 px;
  font-style: bold;
}

.navbar-text {
  padding-left: 15px;
}

.shop-contacts {
  text-align: center;
}

.underline{
  border-bottom: 2px solid black;
  color: red;
}
// .maps {
//   min-width: 550px;
//   min-height: 220px;
//   border:  2 px black;
// }

.description-about-coupons {
  margin-top: 60px;
}


/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin: 30px 0;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}

/* End carousel */

.carousel-inner.reviews {
  text-align: center;
  max-height: 120px;
  min-height: 100px;
}

.item blockquote {
    border-left: none;
    margin: 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.item small{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.item blockquote p:before {
    content: '\f10d';
    font-family: 'FontAwesome';
    float: left;
    margin-right: 10px;
    text-decoration: none;
}


/* Subscription beggining */
.container.signup {
  height: 250px;
  width: 100%;
  background-image: url(../images/newsletter.jpg);
  background-repeat: no-repeat;
  background-size:100%;
  display:block;

}


#mc_embed_signup{
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size:12px;
}
#mc_embed_signup h2{
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 15px;
  text-align: center;

}

#mc_embed_signup_scroll {
  margin-top:20px;
}

#mc-embedded-subscribe {
  background-color: black;
  text-align: center;
  color: white;
}

#mc_embed_signup #mce-success-response {
  color: black;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 1px solid black;

}
.mce_inline_error {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

@media (max-width: 561px) {
  h1 {
    font-size: 3em;
  }

  .footer h2 {
    font-size: 1em;
    // text-align: center;
  }



  .footer p {
    font-size: 10px;
  }

  .container.signup {
    min-width: 200px;
    font-size: 12px;
    background-size: cover;
  }

  .carousel-inner.reviews {
    font-size: 10px;
    font-size: 1em;
  }

  .form-control {
    height: 26px;
  }
  .description-about-coupons {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .footer-contact{
  text-align: right;
  }

  .footer-text {
    text-align: left;
    }
  }
