$icon-font-path: '../fonts/'; // bower:scss
 @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 // endbower
// @import "footer.scss";

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  padding-top:0;
}

.active,
.carousel,
.item {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

footer {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: white;
  padding-top:0;
  background-color: #000000;
  width: 100%;
  height: 80px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
}

footer h2 {
  margin: 15px, 0;
  font-size: 1.4em;
  }

footer p {
    margin: 15px, 0;
    font-size: 1.1em;
    text-align: left;
    }
@media (max-width:448px) {

  .footer p
}
h1 {
  font-family: 'Allura', cursive;
  text-align: center;
  font-size: 4em;
  text-transform: none;
}

h2, h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin:5px,0,0,0;
}
a, p {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 400;
}



a.navbar-brand.logo-name{
    font-family: 'Allura', cursive;
    font-size: 4em;
    font-size: bold;
    letter-spacing: 1px;
}


.img-responsive {
  width: 700px;
  max-height: 300px;
}
.img-responsive.coupon {
  width: 700px;
  max-height: 450px;
}

.navbar {
  background-color: black;
}

ul {
  list-style-type: square;
}
.page-header {
  margin-top: 60px;
}

.product-types {
  font-style: normal;
  text-align: center;
}
.product-types h2 {
  margin-top: 30px;
  font-style: bold;
}

.product-types p {
  margin-top: 50px;
  font-style: bold;
}

.navbar-text {
  padding-left: 15px;
}

.shop-contacts {
  text-align: center;
}

.underline{
  border-bottom: 2px solid black;
  color: red;
}
// .maps {
//   min-width: 550px;
//   min-height: 220px;
//   border:  2 px black;
// }

.dovanu-kuponu-aprasymas {
  margin-top: 60px;
}


/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}

/* End carousel */

.carousel-inner.reviews {
  text-align: center;
  max-height: 100px;
  min-height: 100px;
}

.item blockquote {
    border-left: none;
    margin: 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.item small{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.item blockquote p:before {
    content: '\f10d';
    font-family: 'FontAwesome';
    float: left;
    margin-right: 10px;
    text-decoration: none;
}


/* Subscription beggining */
.container.signup {
  height: 250px;
  width: 100%;
  background-image: url(../images/background1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%;
  display:block;
  position: top;
}

#mc_embed_signup{
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font:14px;
}

#mc-embedded-subscribe {
  background-color: black;
  text-align: center;
  font: white;

}

#mc_embed_signup #mce-success-response {
  color: black;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 1px solid red;

}
.mce_inline_error {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
